@font-face {
  src: url(../font/UniSans-Trial-Bold.otf);
  src: url(../font/UniSans-Trial-Regulas.otf);
  src: url(../font/UniSans-Trial-SemiBold.otf);
  font-family: "UniSans-Trial";
}
.wrapper {
  width: 1920px;
  height: 992px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 10px;
}

.service-menu-container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50%;
  height: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.menu-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.menu-items-h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  opacity: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: rgb(253, 253, 253);
}

.menu-item img {
  height: 100%;
  max-width: 100%;
}

.menu-item .rectangle1,
.menu-item .rectangle2,
.menu-item .rectangle3,
.menu-item .rectangle4 {
  position: absolute;
  z-index: 2;
  left: 87%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item .rectangle1.active,
.menu-item .rectangle2.active,
.menu-item .rectangle3.active,
.menu-item .rectangle4.active {
  opacity: 0%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-items-column1,
.menu-items-column2,
.menu-items-column3,
.menu-items-column4 {
  position: absolute;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 2;
  left: 64%;
  top: -5%;
  width: 100%;
  height: 100%;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0px 0 0 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 216px;
          flex: 0 0 216px;
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.menu-items-column1.active,
.menu-items-column2.active,
.menu-items-column3.active,
.menu-items-column4.active {
  z-index: 3;
  left: 27%;
  top: -5%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-plus1,
.menu-item-plus2,
.menu-item-plus3,
.menu-item-plus4 {
  position: absolute;
  left: 91.5%;
  top: 82%;
  z-index: 2;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-plus1:before,
.menu-item-plus2:before,
.menu-item-plus3:before,
.menu-item-plus4:before,
.menu-item-plus1:after,
.menu-item-plus2:after,
.menu-item-plus3:after,
.menu-item-plus4:after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  width: 30px;
  height: 2px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-plus1:after,
.menu-item-plus2:after,
.menu-item-plus3:after,
.menu-item-plus4:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-popup1.active,
.menu-item-popup2.active,
.menu-item-popup3.active,
.menu-item-popup4.active {
  position: absolute;
  left: 50%;
  z-index: 2;
  height: 100%;
  width: 50%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-popup1,
.menu-item-popup2,
.menu-item-popup3,
.menu-item-popup4 {
  position: absolute;
  left: 99%;
  z-index: 4;
  height: 100%;
  width: 50%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-plus1.active,
.menu-item-plus2.active,
.menu-item-plus3.active,
.menu-item-plus4.active {
  position: absolute;
  left: 56%;
  top: 82%;
  z-index: 3;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-plus1.active:before,
.menu-item-plus2.active:before,
.menu-item-plus3.active:before,
.menu-item-plus4.active:before,
.menu-item-plus1.active:after,
.menu-item-plus2.active:after,
.menu-item-plus3.active:after,
.menu-item-plus4.active:after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  width: 15px;
  height: 2px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-plus1.active:before,
.menu-item-plus2.active:before,
.menu-item-plus3.active:before,
.menu-item-plus4.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 22%;
  left: -23%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-plus1.active:after,
.menu-item-plus2.active:after,
.menu-item-plus3.active:after,
.menu-item-plus4.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 48%;
  left: -23%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-item-text1, .menu-item-text2, .menu-item-text3, .menu-item-text4 {
  position: absolute;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 1;
  left: 100%;
  top: 0%;
  width: 30%;
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-item-text1 ul, .menu-item-text2 ul, .menu-item-text3 ul, .menu-item-text4 ul {
  font-family: "UniSans-Trial";
  font-style: regular;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-item-text1 ul li, .menu-item-text2 ul li, .menu-item-text3 ul li, .menu-item-text4 ul li {
  padding-bottom: 34px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 20px;
  text-transform: uppercase;
}
.menu-item-text1 ul li:last-child, .menu-item-text2 ul li:last-child, .menu-item-text3 ul li:last-child, .menu-item-text4 ul li:last-child {
  padding-bottom: 0;
}

.menu-item-text1.active, .menu-item-text2.active, .menu-item-text3.active, .menu-item-text4.active {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 3;
  left: 60%;
  top: 0%;
}