@font-face {

    src: url(../font/UniSans-Trial-Bold.otf);
    src: url(../font/UniSans-Trial-Regulas.otf);
    src: url(../font/UniSans-Trial-SemiBold.otf);
    src: url(../font/UniSans-Trial-Light.otf);
    font-family: 'UniSans-Trial';

}


@mixin fontsize_weight_color($fs, $fw, $fc) {
    font-size: $fs;
    font-weight: $fw;
    color: $fc
}





.wrapper {
    //  position: relative;
    //  top: 130px;
    // padding-top: 130px;
    width: 1920px;
    height: 992px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0px 0;
    // flex-wrap: wrap;
    align-items: center;
    // align-items: center;
    padding: 0 10px 0 10px;
}

.service-menu-container {
    padding-top: 130px;
    // max-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // flex-direction: column;

    // box-sizing: border-box;
}

.service-menu-items {
    display: flex;
    // flex: 1 1 50%;
    position: relative;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;

    // flex-wrap: wrap;
}

.menu-item {

    position: relative;
    display: flex;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;

}

.menu-items-h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    // background-color: red;
    opacity: 100%;
    width: 100%;
    height: 100%;
    text-align: center;


    @include fontsize_weight_color(26px, 700, rgba(253, 253, 253, 1))
}

.menu-item img {
    height: 100%;
    max-width: 101%;
    // flex: 1 0 0;
}

.menu-item .rectangle1,
.menu-item .rectangle2,
.menu-item .rectangle3,
.menu-item .rectangle4 {
    // height: 100%;
    // max-width: 100%;
    // flex: 1 0 0;
    position: absolute;
    z-index: 2;
    left: 87%;
    width: 100%;
    height: 100%;
    opacity: 100%;
    transition: all 0.5s ease-in;

}

.menu-item .rectangle1.active,
.menu-item .rectangle2.active,
.menu-item .rectangle3.active,
.menu-item .rectangle4.active {
    opacity: 0%;
    transition: all 0.5s ease-in;
}

.menu-items-column1,
.menu-items-column2,
.menu-items-column3,
.menu-items-column4 {
    position: absolute;
    transition: all 0.5s ease-in;

    z-index: 2;
    left: 64%;
    top: -5%;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-self: center;

    padding: 0px 0 0 0;
    transform: rotate(270deg);
    z-index: 2;
    // text-align: center;
    // padding: 120px 0px 0 0;

    flex: 0 0 216px;

    // align-self: center;
    @include fontsize_weight_color(24px, 500, rgba(255, 255, 255, 1));

}

.menu-items-column1.active,
.menu-items-column2.active,
.menu-items-column3.active,
.menu-items-column4.active {
    z-index: 3;
    left: 27%;
    top: -5%;
    transition: all 0.5s ease-in;
}

.menu-item-plus1,
.menu-item-plus2,
.menu-item-plus3,
.menu-item-plus4 {
    position: absolute;
    left: 91.5%;
    top: 82%;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding-top: -5px;
    // background-color: aquamarine;
    // opacity: 30%;
    transition: all 0.5s ease-in;
}

.menu-item-plus1:before,
.menu-item-plus2:before,
.menu-item-plus3:before,
.menu-item-plus4:before,
.menu-item-plus1:after,
.menu-item-plus2:after,
.menu-item-plus3:after,
.menu-item-plus4:after {
    content: "";
    position: absolute;
    top: 10px;
    background-color: #FFFFFF;
    width: 30px;
    height: 2px;
    transition: all 0.5s ease-in;
}


.menu-item-plus1:after,
.menu-item-plus2:after,
.menu-item-plus3:after,
.menu-item-plus4:after {

    // top: 85%;
    // left: 91.5%;
    transform: rotate(90deg);
    transition: all 0.5s ease-in;
}

.menu-item-popup1.active,
.menu-item-popup2.active,
.menu-item-popup3.active,
.menu-item-popup4.active {
    position: absolute;
    left: 50%;
    z-index: 2;
    // background-color: aqua;
    height: 100%;
    width: 50%;
    // opacity: 100%;
    transition: all 0.5s ease-in;
}

.menu-item-popup1,
.menu-item-popup2,
.menu-item-popup3,
.menu-item-popup4 {
    position: absolute;
    left: 100%;
    z-index: 4;
    // background-color: aqua;
    height: 100%;
    width: 50%;
    transition: all 0.5s ease-in;
}

.menu-item-plus1.active,
.menu-item-plus2.active,
.menu-item-plus3.active,
.menu-item-plus4.active {
    position: absolute;
    left: 55%;
    top: 82%;
    z-index: 3;
    width: 35px;
    height: 35px;
    transition: all 0.5s ease-in;
}

.menu-item-plus1.active:before,
.menu-item-plus2.active:before,
.menu-item-plus3.active:before,
.menu-item-plus4.active:before,
.menu-item-plus1.active:after,
.menu-item-plus2.active:after,
.menu-item-plus3.active:after,
.menu-item-plus4.active:after {
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    ;
    width: 15px;
    height: 2px;
    transition: all 0.5s ease-in;
}

.menu-item-plus1.active:before,
.menu-item-plus2.active:before,
.menu-item-plus3.active:before,
.menu-item-plus4.active:before {
    transform: rotate(45deg);
    top: 22%;
    left: 3%;
    transition: all 0.5s ease-in;
}

.menu-item-plus1.active:after,
.menu-item-plus2.active:after,
.menu-item-plus3.active:after,
.menu-item-plus4.active:after {
    transform: rotate(-45deg);
    top: 48%;
    left: 3%;
    transition: all 0.5s ease-in;
}

.menu-item-text1,
.menu-item-text2,
.menu-item-text3,
.menu-item-text4 {
    position: absolute;
    transition: all 0.5s ease-in;
    z-index: 1;
    left: 100%;
    top: 0%;
    width: 40%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;

    ul {
        font-family: 'UniSans-Trial';
        font-style: regular;
        align-self: center;
        justify-content: center;

        li {
            padding-bottom: 34px;
            @include fontsize_weight_color(16px, 400, rgba(255, 255, 255, 1));
            line-height: 20px;
            text-transform: uppercase;

        }

        li:last-child {
            padding-bottom: 0;
        }
    }

}

.menu-item-text1.active,
.menu-item-text2.active,
.menu-item-text3.active,
.menu-item-text4.active {
    transition: all 0.5s ease-in;
    z-index: 3;
    left: 58%;
    top: 0%;
}


// Service-BODY


.container-service-body {
    align-items: center;
    justify-content: flex-end;
    max-width: 1920px;
    display: flex;
}

.service-body-items {
    width: 1720px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.service-body-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h3.h3title {
    margin: 40px 0 25px 0;
}

.body-item-right-mobile {
    display: none;
}

.body-item-left {
    padding: 0 116px 0 0;
    width: 73%;

    h2 {
        padding: 100px 0 25px 0;
        @include fontsize_weight_color(45px, 700, rgba(86, 86, 85, 1));
    }

    span {
        @include fontsize_weight_color(23px, 400, rgba(44, 44, 43, 1));
        line-height: 160%;

    }

    span:first-child {
        margin-bottom: 200px;
    }
}

.body-left-table {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 40px 0 29px 0;

    ul {
        padding: 44px 30px 29px 30px;
        @include fontsize_weight_color(18px, 700, rgba(86, 86, 85, 1));
    }

    li {
        line-height: 117%;
        padding: 24px 0 0 0;
        @include fontsize_weight_color(18px, 400, rgba(86, 86, 85, 1));
    }
}

.body-left-table-item {
    position: relative;
    box-sizing: border-box;
    width: 33%;
    border: solid rgba(222, 222, 223, 1);
    border-right-width: 0;
    transition: all 0.5s ease-in-out;

}

.body-left-table-item:hover {
    cursor: pointer;
    background-image: url(../img/service_menu/1_blurred.png);
    background-size: cover;
    transition: all 0.5s ease-in-out;

    ul {
        transition: all 0.5s ease-in-out;
        @include fontsize_weight_color(18px, 400, rgba(255, 255, 255, 1));
    }

    li {
        transition: all 0.5s ease-in-out;
        @include fontsize_weight_color(18px, 400, rgba(255, 255, 255, 1));
    }
}

.body-left-table-item:nth-child(2):hover {

    background-image: url(../img/service_menu/2_blurred.png);

}

.body-left-table-item:nth-child(3):hover {

    background-image: url(../img/service_menu/3_blurred.png);

}

.body-left-table-item:nth-child(4):hover {
    background-image: url(../img/service_menu/4_blurred.png);

}

.body-left-table-item:nth-child(5):hover {

    background-image: url(../img/service_menu/1_blurred.png);

}

.body-left-table-item:nth-child(6):hover {

    background-image: url(../img/service_menu/2_blurred.png);
}

.body-left-table-item:nth-child(3n) {

    border-right: solid rgba(222, 222, 223, 1);
}

.body-left-table-item:nth-child(4),
.body-left-table-item:nth-child(5),
.body-left-table-item:nth-child(6) {

    border-top-width: 0;

}

.left-item4 {
    border-right: 0;
}
.left-item5 {
    border-right: 0;
    border-bottom: 0;
}


.body-item-right {
    display: flex;
    max-width: 100%;
    max-height: 100%;

    position: relative;
    // max-width: 27%;

    .pic-aside {
        width: 100%;
        height: 100%;

        img {
            max-width: 100%;
            max-height: 100%;
            // height: 100%
        }
    }

    .pic-play {
        position: absolute;
        top: 45.54%;
        left: 50%;

    }
}


@media(max-width:1280px) {
    // адаптив блока услуги с видео

    .service-body-items {
        max-width: 1720px;
        margin-left: 200px;
        display: flex;
        flex-direction: column;


    }

    .service-body-item {
        width: 100%;
        display: flex;
        // height:100vh;
        justify-content: space-around;
    }



    .body-item-right {
        display: flex;

        position: relative;
        width: 27%;

        .pic-aside {
            width: 100%;
            height: 100%;

            img {
                height: 100%;
            }
        }

        .pic-play {
            position: absolute;
            top: 45.54%;
            left: 50%;

        }
    }


}

@media(max-width:1024px) {

    // адаптив для блока услуги с видео справого края
    .service-body-items {
        // min-width: calc (1720 / 1920 * 100%);
        margin-left: 20px;
        padding-left: 20px;
        // display: flex;
        // height:100%;
        // flex-direction: row;


    }

    .service-body-item {
        display: flex;
        // flex: 1 1 auto;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }

    h3.h3title {

        margin: 20px 0 25px 0;
    }

    .body-item-left {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 0;
        flex: 0 0 68%;
        // max-width: 80%;

        h2 {
            display: block;
            padding: 50px 0 25px 0;
            @include fontsize_weight_color(35px, 700, rgba(86, 86, 85, 1));
        }

        span {
            display: block;
            @include fontsize_weight_color(17px, 400, rgba(44, 44, 43, 1));
            line-height: 160%;

        }


        span:first-child {
            display: block;
            margin-bottom: 200px;
        }
    }

    .body-left-table {
        margin: 20px 0 29px 0;

        ul {
            padding: 34px 30px 29px 30px;
            @include fontsize_weight_color(16px, 400, rgba(86, 86, 85, 1));
        }

        li {
            line-height: 107%;
            padding: 20px 0 0 0;
            @include fontsize_weight_color(14px, 200, rgba(86, 86, 85, 1));
        }
    }

    .body-left-table-item:hover,
    .body-left-table-item:nth-child(2):hover,
    .body-left-table-item:nth-child(3):hover,
    .body-left-table-item:nth-child(4):hover,
    .body-left-table-item:nth-child(5):hover,
    .body-left-table-item:nth-child(6):hover {
        ul {

            padding: 34px 30px 29px 30px;
            @include fontsize_weight_color(16px, 400, rgb(255, 255, 255));
        }

        li {
            line-height: 107%;
            padding: 20px 0 0 0;
            @include fontsize_weight_color(14px, 200, rgb(255, 255, 255));
        }
    }

    .body-item-right {
        height: auto;
        max-width: 22%;

        .pic-aside {
            width: 100%;
            height: 100%;

            img {
                width: 100%
            }
        }

        .pic-play {
            position: absolute;
            top: 45.54%;
            left: 42%;

        }
    }



}

@media (max-width:768px) {


    // qwerty адапттив блока услуг с видео
    .service-body-item {
        flex-direction: column;
    }

    .body-item-left {
        min-width: 100%;

        h2 {
            @include fontsize_weight_color(24px, 700, rgba(86, 86, 85, 1));
            padding: 50px 0 40px 0;
        }

        span {
            @include fontsize_weight_color(16px, 400, rgba(44, 44, 43, 1))
        }

        h3 {
            @include fontsize_weight_color(24px, 700, rgba(86, 86, 85, 1));
            padding: 40px 0 28px 0;
            margin: 0;
        }
    }

    .body-left-table {
        flex-wrap: nowrap;
        flex-direction: column;




        .body-left-table-item,
        .body-left-table-item:hover {
            min-width: 100%;
            border: solid rgba(222, 222, 223, 1);
            background-image: none;
            transition: all 0.5s ease-in;

            ul {
                text-align: center;
                padding: 27px 0;
                @include fontsize_weight_color(16px, 400, rgb(86, 86, 85));

                transition: all 0.5s ease-in;

            }

            li {
                display: none;
                transition: all 0.5s ease-in;
                

            }
        }

        .body-left-table-item:first-child,
        .body-left-table-item:nth-child(2),
        .body-left-table-item:first-child:hover,
        .body-left-table-item:nth-child(2):hover {
            border-bottom: none;
            background-image: none;
            transition: all 0.5s ease-in;


            ul {
                text-align: center;
                padding: 27px 0;
                @include fontsize_weight_color(16px, 400, rgb(86, 86, 85));
                transition: all 0.5s ease-in;

            }

            li {
                display: none;
                transition: all 0.5s ease-in;

            }
        }

        .body-left-table-item:nth-child(3):hover, .body-left-table-item:nth-child(3) {
            border-bottom: none;
            background-image: none;
            transition: all 0.5s ease-in;


            ul {
                text-align: center;
                padding: 27px 0;
                @include fontsize_weight_color(16px, 400, rgb(86, 86, 85));
                transition: all 0.5s ease-in;

            }

            li {
                display: none;
                transition: all 0.5s ease-in;

            }
        }

         
        .body-left-table-item:nth-child(5):hover, .body-left-table-item:nth-child(5), .body-left-table-item:nth-child(6),
        .body-left-table-item:nth-child(6):hover {
            border-top: none;
            background-image: none;
            transition: all 0.5s ease-in;

            ul {
                text-align: center;
                padding: 27px 0;
                transition: all 0.5s ease-in;
                @include fontsize_weight_color(16px, 400, rgb(86, 86, 85));
            }

            li {
                transition: all 0.5s ease-in;
                display: none;
            }
        }

        // .body-left-table-item.active1 {
        //     background-color: #f4d0d0;
        //     background-size: cover;
        //     // height: auto;
        //     display: flex;
        //     @include fontsize_weight_color(18px, 700, rgba(255, 255, 255, 1));

        // }

        // .body-left-table-item.active1 ul {
        //     display: block;
        //     height: 100%;
        //     @include fontsize_weight_color(18px, 700, rgba(255, 255, 255, 1));

        // }

        // li {
        //     display: block;
        //     @include fontsize_weight_color(18px, 400, rgb(57, 41, 41));
        //     // color: red;
        // }

        .body-left-table-item.nohover, .body-left-table-item.nohover:hover {
            background-image: url(../img/service_menu/1_blurred.png);
            background-size: cover;
            height: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include fontsize_weight_color(18px, 700,  rgba(222, 222, 223, 1));
            transition: all 0.5s ease-in;
        }

        .body-left-table-item.nohover ul, .body-left-table-item.nohover:hover ul {
            display: block;
            height: 100%;
            @include fontsize_weight_color(18px, 700,  rgba(222, 222, 223, 1));
            transition: all 0.5s ease-in;
            li {
                display: block;
                @include fontsize_weight_color(18px, 400,  rgba(222, 222, 223, 1));
                transition: all 0.5s ease-in;
                padding:10px 0 0 0;
            }
        }


    }


    .letf-table-plus {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 64%;
        left: 93%;
        z-index: 2;
        color: rgb(222, 222, 223);
    }

    .letf-table-plus::before {
        content: '';
        background-color:  rgb(222, 222, 223);
        width: 15px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0%;
    }

    .letf-table-plus::after {
        content: '';
        background-color: rgb(222, 222, 223);
        width: 15px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: rotate(90deg);
    }
    .letf-table-plus.active1 {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 89%;
        left: 92%;
        z-index: 2;
        color:  rgba(222, 222, 223, 1);
    }

    .letf-table-plus.active1::before {
        content: '';
        background-color:  rgba(222, 222, 223, 1);
        width: 15px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0%;
    }

    .letf-table-plus.active1::after {
        content: '';
        background-color:  rgba(222, 222, 223, 1);
        width: 15px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: rotate(90deg);
    }

    .body-item-right {
        display: none;
    }

    .body-item-right-mobile {
        display: block;
        padding: 0 20px 0 0;
        min-width: 100%;

        img {
            width: 100%;
        }
    }


}

@media(max-width:1600px) {
    // адаптив всплывающего меню со списком

    .menu-item-text1,
    .menu-item-text2,
    .menu-item-text3,
    .menu-item-text4 {
        ul {
            li {
                padding-bottom: 16px;
                @include fontsize_weight_color(16px, 400, rgba(255, 255, 255, 1));
                line-height: 16px;
            }
        }
    }

}


@media(max-width:1279px) {
    // адаптив всплывающего меню со списком

    .menu-item-text1,
    .menu-item-text2,
    .menu-item-text3,
    .menu-item-text4 {
        ul {
            li {
                padding-bottom: 16px;
                @include fontsize_weight_color(12px, 400, rgba(255, 255, 255, 1));
                line-height: 14px;
            }
        }
    }

}



@media (max-width:1024px) {
    // адаптив блока меню со списком

    .menu-item-text1,
    .menu-item-text2,
    .menu-item-text3,
    .menu-item-text4 {
        ul {
            li {
                padding-bottom: 12px;
                @include fontsize_weight_color(10px, 200, rgba(255, 255, 255, 1));
                line-height: 10px;
            }
        }
    }

    .menu-items-column1,
    .menu-items-column2,
    .menu-items-column3,
    .menu-items-column4 {
        font-size: 20px;
    }

    .menu-items-column1.active,
    .menu-items-column2.active,
    .menu-items-column3.active,
    .menu-items-column4.active {

        left: 24.5%;
        top: -5%;

    }

    .menu-item-plus1:before,
    .menu-item-plus2:before,
    .menu-item-plus3:before,
    .menu-item-plus4:before,
    .menu-item-plus1:after,
    .menu-item-plus2:after,
    .menu-item-plus3:after,
    .menu-item-plus4:after {

        top: 10px;
        left: 10%;

        width: 5px;
        height: 2px;

    }

    .menu-item-plus1.active,
    .menu-item-plus2.active,
    .menu-item-plus3.active,
    .menu-item-plus4.active {
        left: 53%;
        top: 82%;

        width: 15px;
        height: 15px;

    }

    .menu-item-plus1.active:before,
    .menu-item-plus2.active:before,
    .menu-item-plus3.active:before,
    .menu-item-plus4.active:before {
        top: 32%;
        left: 8%;
        width: 10px;

    }

    .menu-item-plus1.active:after,
    .menu-item-plus2.active:after,
    .menu-item-plus3.active:after,
    .menu-item-plus4.active:after {
        top: 78%;
        left: 10%;
        width: 10px;
    }




}

@media (max-width:768px) {
    // адаптив блока меню со списком

    .menu-items-h3 {
        h3 {
            font-size: 18px;
        }
    }

    .menu-item-text1,
    .menu-item-text2,
    .menu-item-text3,
    .menu-item-text4 {

        // width:100%;
        ul {
            width: 100%;

            li {
                padding-bottom: 9px;
                @include fontsize_weight_color(8px, 100, rgba(255, 255, 255, 1));
                line-height: 9px;

            }
        }
    }

    .menu-items-column1,
    .menu-items-column2,
    .menu-items-column3,
    .menu-items-column4 {
        font-size: 14px;
    }

    .menu-items-column1.active,
    .menu-items-column2.active,
    .menu-items-column3.active,
    .menu-items-column4.active {

        left: 25.5%;
        top: -5%;

    }

    .menu-item-plus1:before,
    .menu-item-plus2:before,
    .menu-item-plus3:before,
    .menu-item-plus4:before,
    .menu-item-plus1:after,
    .menu-item-plus2:after,
    .menu-item-plus3:after,
    .menu-item-plus4:after {

        top: 5px;
        left: 8%;
        width: 10px;
        height: 1px;

    }

    .menu-item-plus1.active,
    .menu-item-plus2.active,
    .menu-item-plus3.active,
    .menu-item-plus4.active {
        left: 53.7%;
        top: 80%;
        width: 15px;
        height: 15px;
    }

    .menu-item-plus1.active:before,
    .menu-item-plus2.active:before,
    .menu-item-plus3.active:before,
    .menu-item-plus4.active:before {
        top: 42%;
        left: 15%;
        width: 5px;
        height: 1px;

    }

    .menu-item-plus1.active:after,
    .menu-item-plus2.active:after,
    .menu-item-plus3.active:after,
    .menu-item-plus4.active:after {
        top: 60%;
        left: 15%;
        width: 5px;
        height: 1px;
    }
}

@media (max-width:540px) {
    // адаптив блока меню со списком

    .menu-item-text1,
    .menu-item-text2,
    .menu-item-text3,
    .menu-item-text4 {
        ul {
            li {
                padding-bottom: 7px;
                @include fontsize_weight_color(6px, 100, rgba(255, 255, 255, 1));
                line-height: 7px;
            }
        }
    }

    .menu-items-column1,
    .menu-items-column2,
    .menu-items-column3,
    .menu-items-column4 {
        @include fontsize_weight_color(16px, 100, rgba(255, 255, 255, 1));

    }

    .menu-items-column1.active,
    .menu-items-column2.active,
    .menu-items-column3.active,
    .menu-items-column4.active {
        z-index: 3;
        left: 27%;
        top: -5%;
        transition: all 0.5s ease-in;
    }

    .menu-item-plus1,
    .menu-item-plus2,
    .menu-item-plus3,
    .menu-item-plus4 {
        left: 90.9%;
        top: 82%;
        padding-top: -5px;
    }

    .menu-item-plus1.active,
    .menu-item-plus2.active,
    .menu-item-plus3.active,
    .menu-item-plus4.active {
        position: absolute;
        left: 55%;
        top: 82%;
    }

    .menu-item-plus1.active:before,
    .menu-item-plus2.active:before,
    .menu-item-plus3.active:before,
    .menu-item-plus4.active:before {
        top: 27%;
        left: 5%;
        width:10px;
        
    }

    .menu-item-plus1.active:after,
    .menu-item-plus2.active:after,
    .menu-item-plus3.active:after,
    .menu-item-plus4.active:after {
        transform: rotate(-45deg);
        top: 70%;
        left: 8%;
        width:10px;
        
    }


    .menu-item-plus1:before,
    .menu-item-plus2:before,
    .menu-item-plus3:before,
    .menu-item-plus4:before,
    .menu-item-plus1:after,
    .menu-item-plus2:after,
    .menu-item-plus3:after,
    .menu-item-plus4:after {
        top: 5px;
        width: 15px;
        height: 1px;
    }


    .menu-item-plus1:after,
    .menu-item-plus2:after,
    .menu-item-plus3:after,
    .menu-item-plus4:after {

        // top: 85%;
        // left: 91.5%;
        transform: rotate(90deg);
        transition: all 0.5s ease-in;
    }


}

@media (max-width:479px) {
    // адаптив блока меню со списком

    .service-menu-container {
        padding-top: 130px;
        // max-height: 100%;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-wrap: wrap;
        flex-direction: column;
        // box-sizing: border-box;
    }

    .service-menu-items {
        display: flex;
        // flex: 1 1 50%;
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;

        // flex-wrap: wrap;
    }

    .menu-item {
        max-height: 100%;
        // display: flex;
        max-width: 100%;
        overflow: hidden;

        img {
            // flex: 1 1 210px;
            // height:100%;
            // width: auto;
        }

    }

    .menu-items-h3 {
        h3 {
            font-size: 20px;
        }
    }

    .menu-item-text1,
    .menu-item-text2,
    .menu-item-text3,
    .menu-item-text4 {
        ul {
            width: 100%;

            li {
                padding-bottom: 10px;
                @include fontsize_weight_color(8px, 100, rgba(255, 255, 255, 1));
                line-height: 9px;

            }
        }
    }


}