@font-face {
    src: url(../font/UniSans-Trial-Bold.otf);
    src: url(../font/UniSans-Trial-Regulas.otf);
    src: url(../font/UniSans-Trial-SemiBold.otf);
    src: url(../font/UniSans-Trial-Light.otf);
    font-family: 'UniSans-Trial';
}



.container {
    max-width: 1920px;
    overflow: hidden;
    flex: 1 1 auto;
    margin: 0 auto;
    background-color: #ffffff;
}

@media(max-width:1600px) {
    .container {
     max-width: 1600px;
    }
}
@media(max-width:479px) {
    .container {
        max-width: 479px;
        
    }
    // body {
    //     max-width: 1544px;
    //     display: flex;
    //     align-items: center;
    //     flex-direction: column;
    //     padding: 0 5px 0 5px;
    //     margin: 0 auto;
    //     background-color: #ffffff;
    // }
    // body.lock{
    //     overflow:hidden;
    // }
}

.title {
    font-size: 24px;
    line-height: calc(29.3 / 24 * 100%);
    font-weight: 700;
    font-family: 'UniSans-Trial';
    color: rgba(86, 86, 85, 1);
    padding: 0 0 0 10px;
}

.h3title {
    font-weight: 700;
    font-size: 31px;
    line-height: calc(65.49 / 31 * 100%);
    color: rgba(86, 86, 85, 1);
}
.h2title {
    font-weight: 700;
    font-size: 45px;
    line-height: calc(93.85 / 45 * 100%);
    color: rgba(86, 86, 85, 1);
}

.wrapper{
    max-width:100%;
    position: relative;
    padding-top:130px;    
}

@import "null.scss";
@import "header.scss";
@import "slider.scss";
@import "main.scss";
@import "footer.scss";