// .block {
//     position: relative;
//     top:100px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 256px;
//     // background: url(../img/menu__background.png) 0 0 /cover no-repeat;
//     width: 100%;

// background-size: auto auto;

// }




.body {


    &__menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0 25px 65px;
        background-color: #F2F2F2;

    }
}

// .body__menu-slider{
// display: none;
// }

.menu-list {

    display: flex;

    li {
        font-family: 'Roboto';
        font-weight: medium;
        font-size: 18px;
        line-height: calc(29.7 / 18 * 100%);
        padding: 0 65px 0 0;
    }
}

.arrows {
    margin: 18px 60px 18px 0;

    img {
        padding-left: 39px;
    }
}


.slider-columns {
    display: none;
}

;

@media(max-width:479px) {
    .body__menu {


        max-width: 100%;
        height: 66px;
        display: flex;


        width: 100%;


    }

    .body__menu-slider {
        // position: absolute;

        display: flex;
        align-items: center;
        height: 66px;
        // width: 100%;
        overflow: scroll;
    }



    .body__menu .menu-list {
        margin: 0px 0px;
        display: flex;
        min-width: 145%;

        li {

            font-size: 14px;
            line-height: calc(100%);
            padding: 0 23px 0 0;
        }
    }

    .arrows {
        display: none;
        margin: 18px 60px 18px 0;

        img {
            padding-left: 39px;
        }
    }

}

.pictures {
    opacity: 100%;
    background: url('../img/background/1.png') -24% 0% no-repeat, url('../img/background/2.png') -24% 50% no-repeat, url('../img/background/3.png') -24% 100% no-repeat, url('../img/background/4.png') 5.7% 0% no-repeat, url('../img/background/5.png') 5.7% 50% no-repeat, url('../img/background/6.png') 5.7% 100% no-repeat, url('../img/background/7.png') 35.4% 0% no-repeat, url('../img/background/8.png') 35.4% 50% no-repeat, url('../img/background/8.png') 35.4% 100% no-repeat, url('../img/background/9.png') 65.1% 0% no-repeat, url('../img/background/10.png') 94.8% 0% no-repeat, url('../img/background/11.png') 65.1% 50% no-repeat, url('../img/background/12.png') 65.1% 100% no-repeat, url('../img/background/13.png') 92.8% 50% no-repeat, url('../img/background/14.png') 94.8% 100% no-repeat, url('../img/background/15.png') 124.6% 100% no-repeat, url('../img/background/16.png') 124.3% 50% no-repeat, url('../img/background/18.png') 124.3% 0% no-repeat;
    ;
    overflow: hidden;
    width: 1920px;
    height: 738px;
    //     top: 482px;
    // left: -370px;
    // position: absolute;
}

@media(max-width:479px) {
    .container .background {
        // max-width: 100%;
        height: 581px;
        // overflow: hidden;
    }

    .pictures {
        // position: relative;
        background: none;
        opacity: 100%;
        max-height: 100%;
        width: 100%;
        display: flex;
        overflow: hidden;
    }

    .wraper {

        &__slider {
            display: flex;
            transition: all 0.7s ease-in-out;
            // flex-direction: column;
            // overflow:auto;
            // min-height: 100%;
        }
    }

    .slider-columns {
        // max-height: 100%;
        // min-width: 100%;
        display: flex;
        flex-direction: column;

        img {
            box-sizing: border-box;
            height: 33.33%;
            width: 100%;
        }
    }

    .button__wrapper {
        // position: relative;
        // top:0px;
        // left:33%;
        margin: 10px 0 0 0;
        display: inline-block;
        align-items: center;
        justify-content: center;
        align-self: center;
        // margin:10px auto;
        // padding-left: 100px;
        // flex-direction: column;


    }

    .slider-button {

        // position: relative;

        // top: 25px;
        // left: calc(27%);
        margin: 11px;
        width: 40px;
        border: 4px solid #2C2C2B;
        border-radius: 5px;
        color: #2C2C2B;
        display: inline-block;

    }

    .slider-button1 {

        // position: relative;
        margin-right: 11px;
        // top: 14px;
        // left: calc(43%);
        width: 4px;
        border: 4px solid;
        border-radius: 5px;
        color: #D9D9D9;
        display: inline-block;
        transition: all 0.3s ease-in 0;
    }

    // .slider-button1:hover{
    //     cursor: pointer;
    //     color: rgb(105, 103, 103);
    //     width:5px;
    //     transition: all 0.3s ease-in;
    // }
    .slider-button-active {
        width: 40px;
        border: 4px solid #2C2C2B;
        border-radius: 5px;
        color: #2C2C2B;
        transition: all 0.5s ease-in-out;
    }


}



@media(max-width:1280px) {
    .body {

        &__menu {
            justify-content: space-around;
            padding: 15px 0 20px 35px;

        }
    }

    .menu-list {

        li {
            font-size: 18px;
            line-height: calc(25.7 / 18 * 100%);
            padding: 0 45px 0 0;
        }
    }

    .arrows {
        margin: 18px 60px 18px 0;

        img {
            padding-left: 29px;
        }
    }


}

@media(max-width:1024px) {
    .menu-list {
        li {
            line-height: calc(25.7 / 16 * 100%);
            padding: 0 25px 0 0;
        }
    }
}

@media(max-width:767px) {
    .menu-list {
        li {
            font-size: 14px;
            line-height: calc(20 / 14 * 100%);
            padding: 0 15px 0 0;
        }
    }

    .arrows {
        margin: 15px 40px 15px 0px;
    }
}

.why {
    padding: 0 0 166px 0;

}

.slider-arrows {
    display: none;
}



.why-title {
    margin: 100px 0 40px 0px;
}

.why-tems {
    display: inline-flex;
    max-width: 49%;
    box-sizing: border-box;
    padding: 40px 46px 40px 0px;

    p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 28px;
        line-height: calc(37 / 28 * 100%);

        padding: 0 0 0 25px;
    }



}

@media(max-width:1600px) {

    .why {
        padding: 0 10px 76px 10px;

    }

    .why-title {
        margin: 50px 0 25px 0px;
    }

    .why-tems {
        padding: 30px 26px 40px 0px;

        p {
            font-size: 24px;
            padding: 0 0 0 20px;
        }
    }
}

@media(max-width:1024px) {

    .why {
        padding: 0 10px 30px 10px;

    }

    .why-title {
        margin: 20px 0 0px 0px;
    }

    .why-tems {
        padding: 30px 26px 40px 0px;

        p {
            font-size: 20px;
            padding: 0 0 0 20px;
        }
    }
}

@media(max-width:479px) {
    .why {
        // position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .why-title {
        margin: 31px 0 16px 0px;
        align-self: flex-start;
    }

    .why-tems {
        min-width: 100%;
        align-self: flex-start;
        padding: 10px 26px 10px 0px;

        p {

            font-size: 16px;
            padding: 0 0 0 20px;
            line-height: calc(25.6 / 16 * 100%);
        }

        img {
            width: 41px;
            height: 41px;

        }
    }

    .slider-arrows {
        display: none;
        // position: relative;
        // top: 55px;

    }

    .arrow-left,
    .arrow-right {
        padding: 10px;
        // margin:20px;
        background-color: #ffffff;
        scale: 50%;
    }
}

.want {
    width: 100%;
    // height:100%;

}

.want-title {
    // background-color: rgb(23, 87, 183);
    width: 980px;
    padding-bottom: 63px;
    line-height: 60px;
}


.want__form {

    display: flex;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;



    [type="number"]:focus,
    [type="email"]:focus,
    [type="text"]:focus,
    [type="textarea"]:focus {
        background-color: #faecec;
        transition: all 0.4s ease-in;
        scale: 102%;
        cursor: auto;
        box-shadow: 1px 1px 8px rgb(129, 106, 106);
    }

    [type="text"]:hover,
    [type="phone"]:hover,
    [type="email"]:hover,
    [type="textarea"]:hover,
    [type="checkbox"]:hover,
    [type="file"]:hover {
        cursor: pointer;
    }

    [type="file"] {
        background-color: green;
        opacity: 0%;
        z-index: 1;
        position: absolute;
        width: 86%;

    }


    [type="checkbox"] {
        position: relative;
        width: 10%;
        height: 24px;
        margin: 0px 14px 0 0;
        // padding: left 0;
    }

    .checkbox {
        // position: relative;
        // top: -27%;
        display: flex;
        align-items: center;
        padding: 0 0 0 0px;
        
    }

    span {
        display: inline-block;
        align-self: center;
        font-family: 'Roboto';
        font-style: Regular;
        font-size: 17px;
        padding: auto auto;
        color: rgba(117, 117, 117, 1);
        // Line-height: calc(20 / 17 * 100%);

    }


    [type="textarea"] {
        width: 100%;
        height: 160px;
        margin: 0 0 0 0;
        padding: 5px 0 0 0;
        text-align: center;
    }

    [type="submit"] {
        background-color: rgba(86, 86, 85, 1);
        color: #CCCCCC;
        font-weight: semi-bold;
        Font-size: 26px;
        line-height: 100%;
        transition: all 0.5s ease-in 0s;

    }

    [type="submit"]:hover {
        cursor: pointer;
        position: relative;
        top: 1px;
        box-shadow: 1px 1px 1px rgb(58, 58, 58);
        background-color: rgb(57, 57, 57);
        transition: all 0.5s ease 0s;

    }



}

.want__form-copy {
    // background-color: red;
    position: relative;
    z-index: 0;
    top: -29%;
    height: 66px;
    width: 100%;
    margin: 0 0px 28px 0;
    text-align: center;
    box-sizing: border-box;
    // padding: 0px 50px 0px 0px;
    border: solid 0.3px #CCCCCC;
    box-shadow: 1px 1px 2px rgb(144, 144, 144);

    // visibility: hidden;
    // left:20px;
}

.column {
    position: relative;
    // background-color: red;
    width: 33%;
    height: 50%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 49px 0 0;
}

.mainForm-raw {

    display: flex;
    // flex-direction: row-reverse;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content:flex-start;
    box-sizing: border-box;

}

.want__form-item {
    height: 66px;
    width: 100%;
    margin: 0 0px 22px 0;
    text-align: center;
    box-sizing: border-box;
    // padding: 0px 50px 0px 0px;
    border: solid 0.3px #CCCCCC;
    box-shadow: 1px 1px 2px rgb(144, 144, 144);
}

.want__form-item-button {
    // flex: 0 1 50%;
    height: 66px;
    width: 31%;
    margin: 0 35px 0 0; 
    text-align: center;
    box-sizing: border-box;
    // padding: 0px 50px 0px 0px;
    border: solid 0.3px #CCCCCC;
    box-shadow: 1px 1px 2px rgb(144, 144, 144);
    order: 0;
}



@media(max-width:1280px) {

    .want {
        width: 100%;
        padding: 0 0 0 10px;
    }
}

@media(max-width:1024px) {
    .want-title {
        padding-bottom: 33px;

    }
}

@media(max-width:767px) {

    .want-title {
        max-width: 100%;
        font-size: 24px;
        line-height: calc(29 / 24 * 100%);
        padding-bottom: 35px;
    }

    .want__form {
        flex-direction: column;
        min-width: 100%;
        height: 100%;
    }

    

    .column {
        width: 100%;
        [type="file"] {
            background-color: green;
            // opacity: 50%;
            z-index: 1;
            position: absolute;
            width: 92%;
    
        }
    
    }

    .mainForm-raw {
        flex-direction: column-reverse;
        width: 92%;
        display: flex;
        padding: 20px 0 0 0;
        // align-items: center;
        // justify-content: center;
    }

    .checkbox {
        position:relative; 
        width: 100%;
        margin: 0 0 20px 0px;
        // position: relative;
        // top: 0%;
        display: flex;
        justify-content: flex-start;
        [type="checkbox"] {
            position: relative;
            left: -16px;
        }

        span {
            position: relative;
            left: -25px;
        }
    }
   
   
    .want__form-item-button {
        
        height: 64px;
        width: 100%;
        margin: 0px 0px 20px 0;
    }

}


@media(max-width:479px) {

    .mainForm-raw {
        width:90%;
    }

    .want__form-item-button {
        width: 100%;
    }

    .checkbox {
        position:relative; 
        width: 100%;
        margin: 0 0 20px 0px;
        // position: relative;
        // top: 0%;
        display: flex;
        justify-content: flex-start;
        [type="checkbox"] {
            position: relative;
            left: -5px;
        }

        span {
            position: relative;
            left: -5px;
        }
    }
   

}

.shooting {
    padding: 0 10px 0 10px;
    width: 100%;


    &__title {
        padding: 100px 0 25px 0;
    }

    &_section-img {
        display: flex;
        flex-direction: column;
        min-width: 50%;
        height: calc(405 / 760 * 100%);
        object-fit: cover;
        box-sizing: border-box;

        img {

            max-width: 100%;
        }

        img:first-child {
            padding-bottom: 40px;
        }

        img:last-child {
            padding-bottom: 40px;
        }
    }


    &__section {
        display: flex;
        height: 100%;
        // align-items: center;
        box-sizing: border-box;

    }

    &__section-text {

        // max-width: 50%;
        // max-height: 100%;
        font-size: 'Roboto';
        font-size: Regular;
        font-size: 23px;
        line-height: 160%;
        color: #2C2C2B;
        box-sizing: border-box
    }

    .shooting__section-h3title {
        margin: 0 0 27px 0;
        line-height: calc(43.3 / 31 * 100%);
    }

    &__section-text-ver2 {
        // height:100%;
        display: flex;
        flex-direction: column;

        padding: 0 0 0 40px;


    }
}

.shooting__section-text-ver3 {

    padding: 0 40px 0 0;
}


.shooting__section-text.shooting__section-text-ver4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 100px 0;

}

.shooting_section-img-background {
    max-width: 100%;
    display: flex;

    img {
        min-width: 100%;
    }
}

.shooting__container {
    width: calc(1150 / 1521 * 100%);
    display: flex;
    // align-items: center;
    flex-direction: column;
    padding: 40px 0 0 0;
    height: 100%;
    margin: 0 10px;
}

.shooting {

    &__section-text-ver4-table {
        display: flex;
        min-width: 100%;
        padding: 54px 0 40px 0;

    }

    &__section-text-ver4-table-column {
        display: flex;
        flex-direction: column;
        min-width: 33.3%;

        box-sizing: border-box;

        p {
            width: 100%;
            min-height: 50%;
            box-sizing: border-box;
            padding: 37px 49px;
            border: solid 1px #DEDEDF;
            font-family: Uni Sans-Trial;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;

            text-align: center;
            color: #565655;

        }
    }
}


@media(max-width:1280px) {

    .shooting {
        // padding: 0 10px 0 10px;
        // width: 100%;


        &__title {
            padding: 40px 0 25px 0;
            line-height: 60px;
        }

        &_section-img {

            min-width: 40%;


        }


        &__section {
            align-items: center;

        }

        &__section-text {

            min-width: 60%;
        }

        &__section-text-ver2 {
            // height:100%;
            display: flex;
            flex-direction: column;
            padding: 0 0 0 40px;
        }
    }

    .shooting__section-text.shooting__section-text-ver4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 0 50px 0;

    }

    .shooting__container {
        width: calc(1150 / 1521 * 100%);
        display: flex;
        // align-items: center;
        flex-direction: column;
        padding: 40px 0 0 0;
        height: 100%;
        margin: 0 10px;
    }


}

@media(max-width:1024px) {
    .shooting__title {
        padding: 0px 0 25px 0;
        line-height: normal;
        max-width: 80%;
    }
}



@media(max-width:479px) {
    .shooting__title,
    .shooting__section-h3title {
        font-size: 24px;
        line-height: 29.3px
    }
    .shooting__section {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .shooting__container {
        width: 100%;
    }

    .shooting__section-text {
        font-size: 16px;
    }


    .section2 {
        // background-color: red;
        display: flex;
        justify-content: flex-start;
    }

    .section2 .shooting_section-img {
        order: 2;

        img:first-child {
            padding: 34px 0 20px 0;
        }

        img:last-child {
            padding: 0px 0 34px 0;
        }
    }

    .section2.shooting__section-text-ver2 {
        order: 1;

    }

    .shooting__section-text {
        padding: 0px 0px;
    }

    .shooting__section-text-ver4-table {
        padding: 43px 0 50px 0;
        display: flex;
        flex-direction: column;
    }

}

@media(max-width:767px) {
    .shooting__title,
    .shooting__section-h3title {
        font-size: 24px;
        line-height: 29.3px
    }

    .shooting__section {
        display: flex;
        width: 100%;
        flex-direction: column;


    }

    .shooting__container {
        width: 100%;
    }

    .shooting__section-text {
        font-size: 16px;
    }

 

    .section2 {
        // background-color: red;
        display: flex;
        justify-content: flex-start;
    }

    .section2 .shooting_section-img {
        order: 2;

        img:first-child {
            padding: 34px 0 20px 0;
        }

        img:last-child {
            padding: 0px 0 34px 0;
        }
    }

    .section2.shooting__section-text-ver2 {
        order: 1;

    }

    .shooting__section-text {
        padding: 0px 0px;
    }

    .shooting__section-text-ver4-table {
        padding: 43px 0 50px 0;
        display: flex;
        flex-direction: column;
    }

}

.container__background {

    display: flex;
    background-color: #F2F2F2;
}

.clients {
    width: 100%;
    padding: 0 10px;
    ;

    background-color: #F2F2F2;

    &__title {
        align-self: flex-start;
        padding: 113px 0 95px 0;
    }

    &__logos {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        flex-wrap: wrap;
        padding: 0 0 83px 0;
        margin: 0 0 60px 0;
    }


    &__logos-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
        width: 31.5%;
        background-color: white;
        margin: 0 39px 39px 0;


    }

    &__logos-item:nth-child(3n) {
        margin: 0 0px 39px 0;
    }
}

@media(max-width:1600px) {
    .clients__logos-item {

        margin: 0 30px 30px 0;

        img {
            max-width: 100%;
        }

    }
}

@media(max-width:1280px) {

    .clients {

        &__title {
            padding: 25px 0 25px 0;
        }

        &__logos {
            padding: 0 0 25px 0;
            margin: 0 0 0px 0;
        }

        &__logos-item {
            margin: 0 20px 20px 0;

            img {
                max-width: 100%;
            }
        }
    }
}

@media (max-width:479px) {
    .clients__logos {
        display: flex;
        flex-direction: column;
    }

    .clients__logos-item {
        min-width: 100%;
        height: 117px;
    }
}

@media (max-width:767px) {
    .clients__logos {
        display: flex;
        flex-direction: column;
    }

    .clients__logos-item {
        min-width: 100%;
        height: 117px;
    }
}


.nav-service {
    display: flex;
    width: 100%;
    height: 273px;
}

.nav {
    display: flex;
    width: 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;

    a {
        padding: 0 10px;
        text-align: center;
        color: #ffffff;
        font-family: 'UniSans-Trial';
        font-size: 26px;
        font-weight: 400;

    }
}

.nav-items:nth-child(1) {
    background: url(..//img/background/11.png) 0 0/ cover no-repeat;
}

.nav-items:nth-child(2) {
    background: url(..//img/background/1.png) 0 0/ cover no-repeat;
}

.nav-items:nth-child(3) {
    background: url(..//img/background/5.png) 0 0/ cover no-repeat;
}

.nav-items:nth-child(4) {
    background: url(..//img/background/7.png) 0 0/ cover no-repeat;
}

.nav-items:nth-child(5) {
    background: url(..//img/background/4.png) 0 0/ cover no-repeat;
}


@media(max-width:1280px) {
    .nav-items {
        a {
            padding: 0 10px;
            font-size: 24px;
            font-weight: 300;
        }
    }
}

.error .want__form-item {
    border-color: red; // прописан класс в случае воникновения ошибки внутри дива с классом error перекрашиваем в красный поле с классом want__form-item
}

@media (max-width:479px) {
    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        // height:100%;
    }

    .nav-service {
        height: calc(222 * 5px);
        width: 100%;
    }

}